@model IEnumerable<SWshop.MVC.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "SW Shop";
}

<div class="container">
    <div class="row">
        
        @foreach (var item in Model)
        {
            <div class="col-xs-3 col-md-2">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <p>
                            <input type="hidden" id="@item.Id" name="Name" value="@item.Name"/>
                            <b>Name:</b> <span>@item.Name</span>
                        </p>
                        <p>
                            <b>Price:</b> <span>@item.Price</span>
                        </p>
                        <p class="text-center">
                            <button class="btn btn-info" name="addToCartBtn" id="@item.Id" onclick="addToCart(@item.Id)">Add to cart</button>
                            @*@Html.ActionLink("Add to cart", "AddToCart", "Cart", new {id = item.Id}, new {@class = "btn btn-info"})*@
                        </p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


@section scripts
{
    <script>
        function addToCart(id) {
            
            $.ajax({
                url: '@Url.Action("AddToCart", "Cart")/' + id, success: function (result) {

                    $(window.cartCount).html(result);

                    window.showAlert( $("#"+id).val() + " added to cart!");
                }
            });

        }
    </script>
}
